{% extends 'templates/app.twig' %}


{% block content %}

    <section id="content">

        <!-- Page Heading -->
        <section class="section page-heading animate-onscroll">

            <h1>BOLSA LABORAL</h1>
            <p class="breadcrumb"><a href="{{ base_url() }}">INICO</a> / <a href="{{ base_url() }}/atencion">ATENCIÓN AL CIUDADANO</a> / BOLSA LABORAL</p>

        </section>
        <!-- Page Heading -->



        <!-- Section -->
        <section class="section full-width-bg gray-bg">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="team-member animate-onscroll big">
                        <img class="team-member-image" src="{{ base_url() }}/img/atencion/bolsa.jpg" alt="">
                        <div class="team-member-info">
                            <h2>VENDORES DE TEMPORADA EMPRESA XXXXX</h2>

                            <div class="team-member-more">
                                <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla.</p><p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="team-member animate-onscroll big">
                        <img class="team-member-image" src="{{ base_url() }}/img/atencion/bolsa.jpg" alt="">
                        <div class="team-member-info">
                            <h2>VENDORES DE TEMPORADA EMPRESA XXXXX</h2>

                            <div class="team-member-more">
                                <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla.</p><p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </section>
        <!-- /Section -->

    </section>



    </section>


{% endblock content %}
