{% extends 'templates/app.twig' %}


{% block content %}

    <section id="content">


        <!-- Page Heading -->
        <section class="section page-heading animate-onscroll">

            <h1>Conócenos</h1>
            <p class="breadcrumb"><a href="main-v1.html">Inicio</a> / Conócenos</p>

        </section>
        <!-- Page Heading -->


        <!-- Section -->
        <section class="section full-width-bg gray-bg">


            <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 animate-onscroll">


                    <div class="tabs style2">

                        <div class="tab-header">
                            <ul>
                                <li><a href="#tab1"><h6>PRESENTACIÓN</h6></a></li>
                                <li><a href="#tab2"><h6>NUESTROS PRINCIPIOS</h6></a></li>
                                <li><a href="#tab3"><h6>COMISIÓN NACIONAL</h6></a></li>
                                <li><a href="#tab4"><h6>INTEGRANTES</h6></a></li>
                            </ul>
                        </div>

                        <div class="tab-content">

                            <div id="tab1" class="tab">
                                <h3 class="animate-onscroll no-margin-top">PRESENTACIÓN</h3>
                                <img class="align-left animate-onscroll" style="max-width: 400px;width: 100%;" src="img/noticia.png" alt="">
                                <p class="animate-onscroll">Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</p>
                                <p class="animate-onscroll">Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae</p>
                                <p class="animate-onscroll">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. <br><br>
                                    Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. </p>

                            </div>

                            <div id="tab2" class="tab">
                                <h3 class="animate-onscroll no-margin-top">NUESTROS PRINCIPIOS</h3>
                                <img class="align-left animate-onscroll" style="max-width: 400px;width: 100%;" src="img/noticia.png" alt="">
                                <p class="animate-onscroll">Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</p>
                                <p class="animate-onscroll">Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae</p>
                                <p class="animate-onscroll">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. <br><br>
                                    Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. </p>

                            </div>

                            <div id="tab3" class="tab">
                                <h3 class="animate-onscroll no-margin-top">COMISIÓN NACIONAL</h3>
                                <img class="align-left animate-onscroll" style="max-width: 400px;width: 100%;" src="img/noticia.png" alt="">
                                <p class="animate-onscroll">Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</p>
                                <p class="animate-onscroll">Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae</p>
                                <p class="animate-onscroll">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. <br><br>
                                    Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. </p>

                            </div>

                            <div id="tab4" class="tab">
                                <div class="row">

                                    <div class="col-lg-12 col-md-12 col-sm-12">

                                        <h3 class="animate-onscroll no-margin-top">INTEGRANTES</h3>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">

                                                <!-- Team Member -->
                                                <div class="team-member animate-onscroll ">

                                                    <img class="team-member-image" src="img/team/1.jpg" alt="">

                                                    <div class="team-member-info">

                                                        <h2>Royer Velasquez</h2>
                                                        <span class="job">Programador de Sistemas</span>

                                                        <div class="team-member-more">
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus.</p><p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet.</p>

                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- /Team Member -->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">

                                                <!-- Team Member -->
                                                <div class="team-member animate-onscroll ">

                                                    <img class="team-member-image" src="img/team/1.jpg" alt="">

                                                    <div class="team-member-info">

                                                        <h2>Royer Velasquez</h2>
                                                        <span class="job">Programador de Sistemas</span>

                                                        <div class="team-member-more">
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus.</p><p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet.</p>

                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- /Team Member -->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">

                                                <!-- Team Member -->
                                                <div class="team-member animate-onscroll ">

                                                    <img class="team-member-image" src="img/team/1.jpg" alt="">

                                                    <div class="team-member-info">

                                                        <h2>Royer Velasquez</h2>
                                                        <span class="job">Programador de Sistemas</span>

                                                        <div class="team-member-more">
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus.</p><p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet.</p>

                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- /Team Member -->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">

                                                <!-- Team Member -->
                                                <div class="team-member animate-onscroll ">

                                                    <img class="team-member-image" src="img/team/1.jpg" alt="">

                                                    <div class="team-member-info">

                                                        <h2>Royer Velasquez</h2>
                                                        <span class="job">Programador de Sistemas</span>

                                                        <div class="team-member-more">
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus.</p><p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet.</p>

                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- /Team Member -->
                                            </div>


                                        </div>



                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /Tabs -->
                </div>



            </div>


        </section>
        <!-- /Section -->

    </section>


{% endblock content %}
