{% extends 'templates/app.twig' %}


{% block content %}

    <section id="content">


        <!-- Page Heading -->
        <section class="section page-heading animate-onscroll">

            <h1>Ínfórmate</h1>
            <p class="breadcrumb"><a href="main-v1.html">Inicio</a> / Ínfórmate</p>

        </section>
        <!-- Page Heading -->


        <!-- Section -->
        <section class="section full-width-bg gray-bg">

            <div class="row no-margin-bottom">

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <!-- Owl Carousel -->
                    <div class="owl-carousel-container">

                        <div class="owl-header">
                            <h3 class="animate-onscroll">NOTICIAS</h3>
                            <div class="carousel-arrows animate-onscroll">
                                <span class="left-arrow"><i class="icons icon-left-dir"></i></span>
                                <span class="right-arrow"><i class="icons icon-right-dir"></i></span>
                            </div>

                        </div>

                        <div class="owl-carousel" data-max-items="4">

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/noticias/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">NOTICIA</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/noticias/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">NOTICIA</a>
                                    </h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/noticias/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">NOTICIA</a>
                                    </h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/noticias/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">NOTICIA</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/noticias/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">NOTICIA</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/noticias/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">NOTICIA</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                        </div>

                    </div>
                    <!-- /Owl Carousel -->
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <!-- Owl Carousel -->
                    <div class="owl-carousel-container">

                        <div class="owl-header">
                            <h3 class="animate-onscroll">ARTÍCULOS</h3>
                            <div class="carousel-arrows animate-onscroll">
                                <span class="left-arrow"><i class="icons icon-left-dir"></i></span>
                                <span class="right-arrow"><i class="icons icon-right-dir"></i></span>
                            </div>

                        </div>

                        <div class="owl-carousel" data-max-items="4">

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/articulos/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">ARTÍCULO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/articulos/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">ARTÍCULO</a>
                                    </h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/articulos/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">ARTÍCULO</a>
                                    </h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/articulos/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">ARTÍCULO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/articulos/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">ARTÍCULO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/articulos/1.jpg" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">ARTÍCULO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                        </div>

                    </div>
                    <!-- /Owl Carousel -->
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <!-- Owl Carousel -->
                    <div class="owl-carousel-container">

                        <div class="owl-header">
                            <h3 class="animate-onscroll">COMUNICADOS</h3>
                            <div class="carousel-arrows animate-onscroll">
                                <span class="left-arrow"><i class="icons icon-left-dir"></i></span>
                                <span class="right-arrow"><i class="icons icon-right-dir"></i></span>
                            </div>

                        </div>

                        <div class="owl-carousel" data-max-items="4">

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/comunicados/1.png" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">COMUNICADO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/comunicados/1.png" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">COMUNICADO</a>
                                    </h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/comunicados/1.png" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">COMUNICADO</a>
                                    </h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/comunicados/1.png" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">COMUNICADO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/comunicados/1.png" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">COMUNICADO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                            <!-- Owl Item -->
                            <div>

                                <!-- Blog Post -->
                                <div class="blog-post animate-onscroll">

                                    <div class="post-image">
                                        <img src="img/comunicados/1.png" alt="">
                                    </div>

                                    <h4 class="post-title"><a href="#">COMUNICADO</a></h4>

                                </div>
                                <!-- /Blog Post -->

                            </div>
                            <!-- /Owl Item -->

                        </div>

                    </div>
                    <!-- /Owl Carousel -->
                </div>


            </div>


        </section>
        <!-- /Section -->


    </section>


{% endblock content %}
