{% extends 'templates/app.twig' %}

{% block content %}
 <div class="instituto_sevilla">
     
    <main>
        <div class="col-lg-12 section_landing">  
            <div class="owl-carousel owl-theme owl_landing_top">
                <div class="item_owl_landing_top">
                    <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/images/isevilla/portada.jpg')">
                        <div class="ca_ content_item">
                            <h2>Instituto Sevilla<br></h2>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </main>

    <section id="contenido">
        <div class="col-lg-12 section_menu_tabs">
      <div class="section_tab">
                <div class="filtro">
                    <ul id="menu-instituto-sevilla" class="menu">
                        <li class="inicio  "><a href="{{ base_url() }}/instituto-sevilla/inicio/#contenido" ><i class="icon-home_landing"></i>Inicio</a></li>
                        <li class="historia  active"><a href="{{ base_url() }}/instituto-sevilla/historia/#contenido" ><i class="icon-historia_bene"></i>Historia</a></li>
                        <li class="contactanos  "><a href="{{ base_url() }}/instituto-sevilla/contactanos/#contenido" ><i class="icon-contacto_landing"></i>Contáctanos</a></li>
                    </ul>                
                </div>
            </div>

            <div class="section_content_ section_content_2">

    <h3>Historia <strong class="subtitle"> &nbsp;Más de un siglo ofreciendo educación de calidad</strong></h3>

    <div class="text">

        <p>Fundado en 1891 gracias al legado que dejó Don José Del Carmen Sevilla, el Instituto Sevilla, fue creado como un Instituto Educativo para el bienestar de niñas y adolescentes de familias pobres en la Lima antigua. Abrió sus puertas bajo la conducción de la Orden Salesiana, quienes en sus inicios enseñaron manualidades y labores para el hogar.</p>
<p>El Instituto Sevilla, tiene CXXVII años de vida institucional, comenzó a funcionar el 26 de Diciembre de 1892 bajo el manejo de las hermanas salesianas, el 17 de diciembre de 1898, las religiosas de la Congregación del Buen Pastor se hacen cargo de la dirección del Instituto Sevilla.</p>
<p>Posteriormente pasó a ser regentado por la Congregación de las Religiosas de Nuestra Señora de la Caridad del Buen Pastor y actualmente está bajo la administración de nuestra institución en coordinación con la Unidad de Gestión Educativa Local (UGEL) del Rímac. Con el tiempo dejó de ser internado, cuando las religiosas dejaron la administración, para convertirse en externado. Actualmente, las alumnas reciben una educación personalizada, que desarrolla la conciencia crítica y un espíritu transformador de la sociedad.</p>

    </div>                

</div>

    <div class="section_sidebar_">
        <div class="content_">
            <h4><strong>El objetivo de la institución es la educación</strong> </h4>
                    </div>
    </div>

<!-- <div class="section_sidebar_">
    <div class="content_calenders">
                <div class="comparte_">
            <p>Reacciona y comparte</p>
            <div class="content_comparte_">
                                <p>Leído 551 Views veces</p>
                <div class="cont_">
                    <a href="javascript: void(0);" onclick="window.open('http://twitter.com/home?status=https://www.beneficenciadelima.org/instituto-sevilla/historia/','sharewindow', 'toolbar=0, status=0, width=650, height=450');" class="btn btn_default"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
                <div class="cont_">
                    <a href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=https://www.beneficenciadelima.org/instituto-sevilla/historia/','sharewindow', 'toolbar=0, status=0, width=650, height=450');" class="btn btn_default"><i class="fab fa-facebook-square"></i> Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div> -->            
            
        </div>
    </section>



    
 </div>
{% endblock content %}