{% extends 'templates/app.twig' %}
{% block content %}
<div>

   <section>
      <div class="col-lg-12 section_noticias_general">
         <div class="section_noticias_container">
                <iframe  src="https://www.casadetodos.pe/como-ayudar" style="border: none;padding-top: 200px;" height="1200px" width="100%" title="Casa de todos"></iframe>
         </div>
      </div>
   </section>
</div>

{% endblock content %}