{% extends 'templates/app.twig' %}

{% block content %}
    <div class="centros_esperanza_maria_castano_sagrada_familia_y_sagrado_corazon">
        <main>
            <div class="col-lg-12 section_landing">
                <div class="owl-carousel owl-theme owl_landing_top">
                    <div class="item_owl_landing_top">
                        <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/images/construccion.png')">
                            <div class="ca_ content_item">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}
