<footer>
    <div class="col-lg-12 footer_container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 footer_section_direccion">
                <h4>Nuestra Ubicación</h4>
                <p>Sociedad de Beneficencia de Lima Metropolitana - Jr. Carabaya 641 Lima - Perú</p>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 footer_section_contacto">
                <h4>Contáctanos</h4>
                <div class="item">
                    <div class="content">
                        <i class="fas fa-phone"></i>
                        <div class="pre-foot-contacto-text">
                            <a href="tel:01 427 6521">01 427 6521</a>
                        </div>
                        <div class="pre-foot-contacto-text">
                            / <a href="tel:01 427 6522">01 427 6522</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                      <!--  <i class="fas fa-envelope"></i>
                        <a href="mailito:hola@beneficenciadelima.org">hola@beneficenciadelima.org</a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 footer_section_redes">
                <h4>Síguenos en Nuestras Redes</h4>
                <div class="nav_desk_redes">
                    <a href="https://www.facebook.com/BeneficenciaDeLimaOficial/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://cort.as/-RHGf" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/company/beneficencia-de-lima-bl/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/beneficenciadelimaoficial/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 copyright">
        <div class="col-lg-2">
            <p><a href="http://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=12672&id_%20tema=1&ver=D#.%20YmcJVNrMJD8" target="_blank">Portal de Transparencia</a></p>
        </div>
        <div class="col-lg-10 copylimadot">
            © Copyright 2021 Beneficencia de Lima
        </div>
    </div>
</footer>
